<nav id="dawgdrops">
    <div class="dawgdrops-inner container">
        <ul class="dawgdrops-nav" id="menu-brand-menu">
            <li class="dawgdrops-item">
                <a class="dropdown-toggle" href="/fruit/" id="189" title="Brand vision">Fruit</a>
                <ul class="dawgdrops-menu" id="menu-189">
                    <li><a href="/fruit/apples/" id="492" tabindex="-1" title="Brand vision">Apples</a></li>
                    <li><a href="/fruit/bananas/" id="488" tabindex="-1" title="Messaging framework">Bananas</a></li>
                </ul>
            </li>
            <li class="dawgdrops-item">
                <a class="dropdown-toggle" href="/" id="202" title="Visual">Vegetables</a>
                <ul class="dawgdrops-menu" id="menu-202">
                    <li><a href="/" id="491" tabindex="-1" title="Fonts">Broccoli</a></li>
                    <li><a href="/" id="490" tabindex="-1" title="Colors">Carrot</a></li>
                    <li><a href="/" id="489" tabindex="-1" title="Logos">Kale</a></li>
                    <li><a href="/" id="487" tabindex="-1" title="Photography">Radish</a></li>
                </ul>
            </li>
            <li class="dawgdrops-item"><a href="/char/" id="193" title="Editorial">Char</a></li>
            <li class="dawgdrops-item"><a href="/about/" id="486" title="Help">About</a></li>
            <li class="dawgdrops-item"><a href="/test/" id="486" title="Help">test</a></li>
        </ul>
    </div>
</nav>
